article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html, button, input, select, textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
b, strong {
  font-weight: bold;
}
p, pre {
  margin: 1em 0;
}
dl, menu, ol, ul {
  margin: 1em 0;
}
menu, ol, ul {
  padding: 0 0 0 40px;
}
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
form {
  margin: 0;
}
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button, input {
  line-height: normal;
}
button, select {
  text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.icon-gift, .icon-cancel-circle, .icon-paragraph-justify, .icon-minus, .icon-plus, .icon-tablet, .icon-mobile, .icon-view, .icon-save, .icon-printer, .icon-add {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.container {
  position: relative;
  margin: 0px auto;
  padding: 0px;
  min-width: 16em;
  max-width: 60em;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  *zoom: 1;
}
.container [class*="grid_"] {
  padding: 0 10px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width:15em) {
  .container [class*="grid_"] {
    position: relative;
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  [class*="grid_"] [class*="grid_"] {
    padding: 0;
  }
}
@media only screen and (min-width:30em) {
  [class*="grid_"] [class*="grid_"] {
    padding: 0 10px;
  }
  [class*="grid_"] .grid_4 {
    width: 33.333%;
  }
  [class*="grid_"] .grid_6 {
    width: 50%;
  }
}
@media only screen and (min-width:48em) {
  [class*="grid_"] [class*="grid_"] {
    padding: 0 10px;
  }
  .container .grid_4 {
    width: 33.333%;
  }
  .container .grid_5 {
    width: 41.666%;
  }
  .container .grid_6 {
    width: 50%;
  }
  .container .grid_7 {
    width: 58.333%;
  }
  .container .grid_8 {
    width: 66.666%;
  }
  .container .grid_12 {
    width: 100%;
  }
}
@media only screen and (min-width:48em) and (max-width:59.938em) {
  .m_1half > [class*="grid_"] {
    width: 50%;
  }
}
ul.sf-menu {
  display: inline-block;
}
ul.sf-menu {
  display: block;
  -height: 1px;
}
ul.sf-menu, ul.sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.sf-menu {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 0px;
  top: 0px;
  float: left;
  display: inline;
  padding-top: 2px;
}
ul.sf-menu {
  line-height: 1;
}
ul.sf-menu li {
  float: left;
  position: relative;
  margin-right: 10px;
}
ul.sf-menu li.sf-with-ul {
  border: 1px solid #c1c1c1;
}
ul.sf-menu li.sf-with-ul a, ul.sf-menu li.sf-with-ul a:link, ul.sf-menu li.sf-with-ul a:visited {
  color: #3d3c3c;
  font-size: 1.125em;
  font-family: 'Kameron', serif;
  font-weight: 700;
  padding: .5em 2.063em .5em 0.938em;
  line-height: 100%;
}
ul.sf-menu ul li {
  width: 100%;
}
ul.sf-menu a {
  display: block;
  position: relative;
  padding: 0.8em 0.7em 0.3em 0;
  text-decoration: none;
  color: #3d3c3c;
  border: 1px solid #888888;
  line-height: 100%;
  background: #ccc;
  font-size: 1.094em;
  font-family: 'Kameron', serif;
}
ul.sf-menu ul li a {
  margin-right: 0;
  line-height: 1em;
}
ul.sf-menu li.sf-with-ul ul li a, ul.sf-menu li.sf-with-ul ul li a:link, ul.sf-menu li.sf-with-ul ul li a:visited {
  display: block;
  position: relative;
  padding: 0.8em 20px;
  text-decoration: none;
  color: #000;
  background: none;
  border: 0;
  font-size: .9em;
  font-weight: normal;
  font-family: inherit;
}
ul.sf-menu li ul {
  position: absolute;
  top: 0;
  display: none;
  visibility: hidden;
  top: 2.35em;
  width: 9.4em;
  left: 0;
  background: #fff;
  border: 1px solid #ccc;
}
ul.sf-menu li ul li {
  margin: 0;
  border-bottom: 1px solid #ccc;
}
.sf-sub-indicator {
  position: absolute;
  display: block;
  right: 0.55em;
  top: .8em;
  width: 10px;
  height: 10px;
  text-indent: -999em;
  overflow: hidden;
  background-position: -10px 0;
  background: url('/cms/MagazineLine/images/arrows-000000.png') no-repeat 0 -100px;
}
.sf-go-indicator {
  position: absolute;
  display: block;
  right: 0;
  top: .8em;
  width: 10px;
  height: 15px;
  text-indent: -999em;
  overflow: hidden;
  background: url('/cms/MagazineLine/images/arrows-000000.png') no-repeat 0 5px;
}
.mainNav {
  z-index: 1000;
  position: relative;
}
.mainNav .sf-menu a {
  background: none;
  border: 0;
}
.mainNav .menuLink {
  display: none;
}
@media only screen and (max-width: 47.938em) {
  .mainNav {
    position: relative;
    height: auto;
    z-index: 0;
  }
  .menuLink {
    float: right;
    display: inline-block !important;
    height: 40px;
    width: 40px;
    margin: 0 0 0 .125em;
    position: relative;
    background: #fff;
    cursor: pointer;
    background-image: url("/~/media/Shared/Images/MobileMenuCLOSE_ICON.ashx?h=40&w=40");
  }
  .sf-menu {
    clear: both;
    position: absolute !important;
    top: 45px !important;
    right: 0 !important;
    left: auto !important;
    width: 100px;
    padding: 5px;
    background: #fff;
    border: 1px solid #B3B3B3;
    display: none;
  }
  .mainNav ul {
    display: none;
  }
  .mainNav ul ul {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;
    height: auto !important;
    display: none !important;
  }
  ul.sf-menu li.sf-with-ul {
    border: 0;
  }
  .sf-sub-indicator {
    display: none;
  }
  .sf-go-indicator {
    display: none;
  }
  .mainNav ul.sf-menu li {
    display: block;
    float: none;
    margin: 10px 0;
  }
  .mainNav li a {
    display: block;
    padding: 5px 10px;
    font-size: .9em;
    color: #3D3C3C;
    font-family: 'Kameron',serif;
  }
  .mainNav ul ul li a {
    font-size: 1.2857em;
    background: #4c4d4f;
  }
  ul.sf-menu li.sf-with-ul a, ul.sf-menu li.sf-with-ul a:link, ul.sf-menu li.sf-with-ul a:visited {
    font-weight: normal;
    font-size: .9em;
    padding: 5px 10px;
  }
}
.formee {
  margin: 0;
  padding: 0;
}
.formee .formee-txt, .formee input[type="text"], .formee input[type="search"], .formee input[type="email"], .formee input[type="url"], .formee input[type="tel"], .formee input[type="number"], .formee input[type="range"], .formee input[type="date"], .formee input[type="month"], .formee input[type="week"], .formee input[type="time"], .formee input[type="datetime"], .formee input[type="datetime-local"], .formee input[type="color"], .formee input[type="password"], .formee input[type="file"], .formee textarea, .formee select {
  margin-bottom: 0.5em;
  vertical-align: middle;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  *width: 99%;
}
.formee;
.formee .formee-txt, .formee input[type="text"], .formee input[type="search"], .formee input[type="email"], .formee input[type="url"], .formee input[type="tel"], .formee input[type="number"], .formee input[type="range"], .formee input[type="date"], .formee input[type="month"], .formee input[type="week"], .formee input[type="time"], .formee input[type="datetime"], .formee input[type="datetime-local"], .formee input[type="color"], .formee input[type="password"], .formee input[type="file"], .formee textarea, .formee select {
  border-color: #e0e0e0;
  background: #fff;
  color: #3d3c3c;
  font-family: 'Kameron', serif;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 6px 4px;
  font-size: 0.875em;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}
html {
  font-family: 'Raleway', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
h1 {
  font-size: 2em;
}
b, strong {
  font-weight: bold;
}
img {
  border: 0;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button, input {
  line-height: normal;
}
button, html input[type="button"], /* 1 */
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
body;
img {
  vertical-align: middle;
}
p {
  margin: 0 0 1em 0;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.clearfix {
  zoom: 1;
}
.bold {
  font-weight: bold;
}
.center {
  text-align: center;
}
.clear {
  overflow: hidden;
  clear: both;
  height: 0;
  margin: 0;
  font-size: 1px;
  line-height: 0;
}
ul, ol {
  margin: 0 0 1em;
}
.noIndent {
  padding: 0;
  list-style-type: none;
}
.siteWrap .container img {
  max-width: 100% !important;
  height: auto !important;
}
a, a:visited {
  color: #6D6D6D;
  text-decoration: underline;
}
body {
  background: url(/cms/MagazineLine/images/layout/texture.gif) repeat 0 0;
  font-size: 100%;
}
.container;
.siteBody {
  min-height: 300px;
  margin: 0 0 1.125em 0;
}
.siteWrap {
  max-width: 64.875em;
  margin: 0 auto;
  padding: 1em 0;
  border: 1px solid #dfdfdf;
  background-color: #fff;
}
.siteHeader {
  position: relative;
  min-height: 80px;
  margin-bottom: 3px;
  z-index: 1000;
}
.siteHeader a.sitelogo, .siteHeader a.sitelogo:link, .siteHeader a.sitelogo:visited {
  display: block;
  width: 275px;
  height: 70px;
  margin: 0 auto 10px auto;
  text-indent: -9999em;
}
.siteHeader a {
  color: #BD2C1D;
}
.mainNavWrap {
  margin-bottom: 10px;
  padding: 3px 0;
  border-top: 1px solid #000;
  border-bottom: 1px dotted #b3b3b3;
}
.siteHeader .hdrPhonenum {
  background-position: 100% 0;
  background-repeat: no-repeat;
  bottom: 12px;
  display: block;
  position: absolute;
  right: 12px;
  font-family: 'Kameron', serif;
  color: #b6b6b6;
  font-size: 1.375em;
  font-weight: 700;
}
.separator {
  margin: 0 0.313em;
  background: url(/cms/MagazineLine/images/layout/separator.png) repeat-y 0 0;
}
.headerLinks {
  font-size: 0.750em;
  margin: 0;
  padding: 5px 0;
  text-align: right;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.headerLinks a, .headerLinks a:link, .headerLinks a:visited {
  margin: 0 3px;
  text-decoration: none;
}
.siteSearch {
  color: #FFFFFF;
  float: right;
  margin: 0;
  background-color: #eeeee9;
  padding: 5px;
}
.siteSearch .formee {
  position: relative;
}
.siteSearch label {
  display: none;
}
.siteSearch .text {
  display: inline;
  float: left;
  margin: 0 !important;
  width: 200px;
  padding: 6px 4px 6px 35px !important;
}
.siteSearch .search {
  background: url(/cms/MagazineLine/images/layout/search_icon.gif) no-repeat 0 0;
  border: 0;
  position: absolute;
  left: 1px;
  top: 1px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-indent: -9999em;
}
.siteOverlay {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  min-height: 1px;
  background-color: #fff;
  z-index: 1000;
  border: 3px solid #000000;
  -moz-box-shadow: 0 0 15px #333;
  -webkit-box-shadow: 0 0 15px #333;
  box-shadow: 0 0 15px #333;
}
.siteOverlay .overlayBar {
  padding: 7px 10px;
  text-align: right;
}
.siteOverlay .overlayClose {
  display: inline-block;
  color: #ff0000;
  font-size: 1em;
  cursor: pointer;
  z-index: 5;
}
.siteOverlay .overlayContent {
  padding: 15px;
}
#overlay-wrapper {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 999999;
  box-sizing: border-box;
}
#divItemAdded {
  font-family: "Kameron", serif;
  font-size: 16px;
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
  .logo-print-only {
    display: block !important;
    margin: 0 auto;
  }
  .siteHeader, .mainNavWrap, .headerLinks, .breadcrumbs, .addthisButtons, .altViews, .productDetails > h3, .relatedMagazinesWrpr, #reviewList, .textBanners, .magazineBrands, .connectBar, .footer .m_1half, .badge, .payments, .reviewComposeButtons {
    display: none !important;
  }
  .copyrightWrpr {
    border: none !important;
    width: 100%;
  }
  .copyright {
    display: block;
    width: 500px;
    margin: 0 auto;
    font-size: 1em;
    text-align: center;
  }
  .subFooter {
    border: none !important;
  }
}
.followUs {
  float: right;
  display: inline;
  margin: 0;
}
.followUs .footerHeading {
  padding-top: 12px;
}
ul.socialFollow {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 38px;
}
ul.socialFollow li {
  display: inline-block;
}
ul.socialFollow li a {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(/cms/MagazineLine/images/layout/social-16.png) no-repeat 0 0;
  text-indent: -9999em;
  overflow: hidden;
}
ul.socialCircle li a {
  width: 38px;
  height: 38px;
  background-image: url(/cms/MagazineLine/images/layout/social-circle.png);
}
ul.socialFollow li.facebook a {
  background-position: 0 0;
}
ul.socialFollow li.twitter a {
  background-position: 0 -69px;
}
ul.socialFollow li.pinterest a {
  background-position: 0 -207px;
}
.btnWrapper {
  display: inline-block;
  padding: 2px;
  background-color: #000;
  text-decoration: none !important;
}
.btn {
  display: inline-block;
  margin: 0;
  padding: 4px 6px;
  font-weight: 700;
  color: #fff;
  background-color: #000;
  border: 1px solid #A4A4A4;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  overflow: visible;
  font-family: 'Kameron', serif;
  text-transform: uppercase;
}
.btnAlt {
  background-color: #498FAA;
}
.btnAlt .btn {
  color: #fff;
  background-color: #498FAA;
  border: 1px solid #F2F2F2;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.btnLarge .btn {
  padding: 5px 15px;
  font-size: 1.3em;
}
.iconImage {
  position: relative;
  display: inline-block;
  bottom: 1px;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  text-indent: -9999em;
  background: url(/cms/MagazineLine/images/layout/icons_default.png) no-repeat 0 0;
  overflow: hidden;
}
.iconCart {
  width: 26px;
  height: 24px;
  background-position: 0 0;
}
.contentGroup {
  padding-top: 13px;
  background: url(/cms/MagazineLine/images/layout/featured_bg.gif) repeat-x 0 0;
  position: relative;
}
.contentGroup .contentGroupWrap {
  padding: 2.188em 0 1.125em 0;
  border: 3px solid #eaeae6;
}
.contentGroup .contentGroupWrap .hdng2 {
  position: absolute;
  top: -8px;
  left: -10px;
}
.topCategories .contentGroupWrap {
  padding: 2.188em 0.625em 1.125em;
}
.topCategories a, .topCategories a:link, .topCategories a:visited {
  color: #bd2c1d;
  font-family: 'Kameron', serif;
  font-weight: 700;
  font-size: .875em;
  text-decoration: none;
}
ul.categories li {
  margin-bottom: .675em;
  padding-bottom: .6em;
  border-bottom: 1px dashed #b3b3b3;
}
ul.categories li a, ul.categories li a:link, ul.categories li a:visited {
  text-decoration: none;
  color: #000;
  font-family: 'Kameron', serif;
  font-weight: 700;
  font-size: 1.125em;
}
.magazineBrands {
  margin: 0;
  padding: 2.188em 0;
  background: url(/cms/MagazineLine/images/layout/magazinebrands_top_bg.gif) repeat-x 0 0;
}
ul.magazines {
  margin: 0;
}
ul.magazines li {
  float: left;
  display: inline;
  margin-right: 1em;
}
ul.magazines li.last {
  margin-right: 0;
}
ul.magazines li img {
  width: 100%;
  max-width: 175px;
  height: auto;
}
.aboutWidget {
  border: 1px solid #e3e3e3;
  background-color: #eeeee9;
  padding: 1.188em .938em;
}
.aboutWidget img {
  max-width: 100%;
}
.aboutWidget ul.aboutList {
  margin-top: 1.500em;
}
.aboutWidget ul.aboutList a, .aboutWidget ul.aboutList a:link, .aboutWidget ul.aboutList a:visited {
  text-decoration: none;
  color: #000;
  font-size: .813em;
  font-family: 'Raleway', sans-serif;
}
.connectBar {
  padding: 1em;
  background: url(/cms/MagazineLine/images/layout/connectbar_bg.gif) repeat-x 0 0 #eeeee9;
}
.callUs {
  float: left;
  display: inline;
  padding-top: 5px;
}
.hrclear {
  background: url(/cms/MagazineLine/images/layout/footer_bg.gif) repeat-x 0 100%;
  clear: both;
  display: block;
  height: 7px;
}
.homeMobileNav {
  display: none;
}
.FilterLink {
  display: none;
}
.MobileSiteLogo {
  float: left;
  box-sizing: border-box;
  position: relative;
}
.HeaderLinkWrap {
  display: block;
  width: 100%;
  margin: 0px 10px 0px 0px;
}
.mobileShow {
  display: none;
}
@media only screen and (max-width: 30em) {
  .custServ {
    display: none;
  }
  .magazineBrands {
    display: none;
  }
  .hrclear {
    margin-top: 20px;
  }
  .advFooter {
    padding-top: .938em;
    border-top: 1px solid #000;
  }
  .connectBar .footerHeading {
    font-size: .8em;
  }
  .followUs .footerHeading {
    padding-top: 12px;
  }
  .callUs {
    margin-bottom: 5px;
  }
  .contentGroup .contentGroupWrap {
    padding: 2.2em 0 1.125em 0;
    border: 0;
  }
  .siteSearch {
    display: block;
    float: left;
    width: 140px;
  }
  .siteWrap {
    padding-top: 5px;
  }
  .HeaderLinkWrap {
    top: 58px !important;
  }
}
@media only screen and (max-width: 47.938em) {
  .FilterLink {
    display: inline-block;
    background: #235EC1;
    border: solid 2px #35435D;
    border-radius: 6px;
    color: #fff;
    float: right;
    font-family: arial;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 4px;
    padding: 9px 8px;
    cursor: pointer;
  }
  .siteHeader a.sitelogo, .siteHeader a.sitelogo:link, .siteHeader a.sitelogo:visited {
    display: block;
    width: 275px;
    height: 70px;
    margin: 0 auto 10px auto;
    background: url(/cms/MagazineLine/images/layout/logo_header_sm.jpg) no-repeat 0 0;
    text-indent: -9999em;
    text-align: center;
  }
  .siteHeader .hdrPhonenum {
    position: relative;
    font-size: 1em;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
  .featuredGroup {
    margin-bottom: 20px;
  }
  .mainNav {
    border-top: 0;
  }
  .emailSignup .footerHeading {
    float: none;
    display: block;
    margin-bottom: 1.125em;
  }
  .emailSignup .formee {
    float: none;
    display: block;
  }
  .aboutWidget {
    margin-bottom: 1.250em;
  }
  .connectBar {
    padding: .5em;
  }
  .callUs {
    float: none;
    display: block;
  }
  .followUs {
    float: none;
    display: block;
  }
  .mainNavWrap {
    display: block;
    width: 100%;
    margin-bottom: 0;
  }
  .siteSearch {
    display: block;
    float: left;
    width: 60%;
  }
  .siteSearch .formee {
    position: relative;
  }
  .mainNav {
    display: block;
    float: right;
  }
  .homeAdjust .mainNav {
    display: block;
  }
  .homeMobileNav {
    display: none;
    margin-bottom: 10px;
  }
  .homeMobileNav .mainNavWrap {
    border: 0;
  }
  .homeMobileNav .mainNav {
    display: block !important;
    float: none !important;
  }
  .homeMobileNav .mainNav .menuLink {
    display: block !important;
  }
  .homeMobileNav .mainNav ul {
    display: block !important;
    position: static !important;
    width: 100% !important;
    border: 0 !important;
  }
  .homeMobileNav .mainNav ul.sf-menu li ul {
    display: none !important;
  }
  .homeMobileNav .mainNav ul.sf-menu li {
    padding: 6px;
    border: 1px solid #B3B3B3;
  }
  .mobileHide {
    display: none;
  }
  .mobileShow {
    display: block;
  }
  .MobileSiteLogo {
    width: 100%;
    z-index: 1000;
  }
}
@media only screen and (min-width:48em) and (max-width:59.99em) {
  .siteSearch {
    width: 99%;
    margin: 5px auto;
  }
}
@media only screen and (max-width:20em) {
  .siteSearch {
    width: 110px;
  }
}
.ggsMobileNav {
  position: absolute;
  right: 8px;
  top: 128px;
  display: block;
  z-index: 1;
  border: 1px solid #B3B3B3;
  background-color: #fff;
  display: none;
}
.ggsMobileNav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.ggsMobileNav ul li {
  margin: 10px 0;
}
.ggsMobileNav ul li a {
  padding: 5px 10px;
  font-size: .9em;
  color: #3D3C3C;
  font-family: 'Kameron', serif;
  text-decoration: none;
}
.grid_12:not(.homeMobileNav) .mainNavWrap .mainNav > .sf-menu > li:not(.sf-with-ul) > ul {
  top: 100%;
  min-width: 200px;
  background: #EEEEE9;
}
.grid_12:not(.homeMobileNav) .mainNavWrap .mainNav > .sf-menu > li > ul > li {
  border: 0px;
}
.mainNavWrap .mainNav > .sf-menu > li > ul > li > a {
  padding: .5em;
}
.cs_dropdown_main li {
  text-align: left;
}
#ggsnewcartslider {
  overflow: hidden;
  position: absolute;
  top: 0px;
  padding-right: 3px;
}
#ggscheckoutCartOpenWrapper {
  width: 37px;
  position: fixed;
  right: 0;
  top: 200px;
  display: none;
}
.ggscheckoutCartOpen {
  width: 37px;
  background-color: #e0e0e0;
  height: 70px;
  line-height: 38px;
  padding-top: 10px;
  text-align: center;
  border-radius: 5px 0 0 5px;
  background-repeat: no-repeat;
  background-position: 3px 29px;
}
.ggscheckoutCartHandle, .ggscheckoutCartOpen {
  transform: perspective(5px) rotatey(-0.5deg);
  -webkit-transform: perspective(5px) rotatey(-0.5deg);
  -moz-transform: perspective(5px) rotatey(-0.5deg);
  transform-origin: right;
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
}
@media (min-width: 960px) {
  .mainNavWrap.sticky {
    background: #86B8CC;
    border-bottom-style: solid;
    border-top: none;
    border-bottom-color: #eee;
    left: 0;
    padding: 3px 0;
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 1001;
  }
  .sticky ul.sf-menu li.sf-with-ul {
    border-color: #fff;
    margin-left: 5px;
  }
  .sticky .mainNav, .sticky .siteSearch {
    background: inherit;
    display: inline-block;
    float: none;
  }
  .sticky ul.sf-menu a {
    color: #333;
    padding: 0.6em 17.3px 0.6em 5px;
  }
  .sticky .sf-go-indicator {
    top: 0.5em;
    right: 5px;
  }
  .sticky .lrg-nav-par .lrg-nav ul {
    width: 170px;
  }
  .sticky ul.sf-menu > li > a {
    color: #fff !important;
  }
}
@media (min-width: 767px) {
  .mainNav > ul, .mainNav > ul >:first-child {
    position: static;
  }
  ul.sf-menu li ul.lrg-nav-par {
    background: #EEEEE9;
    width: 99.8%;
  }
  ul.lrg-nav-par .lrg-nav {
    display: block;
  }
  .mainNav .sf-menu li a {
    background: inherit !important;
  }
  ul.sf-menu li.sf-with-ul ul.lrg-nav-par, ul.sf-menu li.sf-with-ul ul.lrg-nav-par ul, ul.sf-menu li.sf-with-ul ul.lrg-nav-par, ul.sf-menu li.sf-with-ul ul.lrg-nav-par ul {
    display: none !important;
    height: auto !important;
    visibility: hidden;
    text-align: left;
  }
  .lrg-nav-par .lrg-nav ul {
    background: inherit;
    border: 0;
    float: left;
    position: static;
    width: 200px;
  }
  .sf-menu li .lrg-nav-par ul li {
    border: none;
  }
}
@media (max-width: 959px) {
  .siteHeader {
    margin-bottom: 3px !important;
  }
}
@media (max-width: 767px) {
  .sf-menu {
    min-width: 110px;
  }
}
ul.linkList {
  margin: 0 0 15px 0;
  padding: 0;
  list-style-type: none;
}
ul.linkList li {
  margin-bottom: 3px;
}
ul.linkList a, ul.linkList a:link, ul.linkList a:visited {
  text-decoration: none;
}
.headerLinks a.cartLink, .headerLinks a.cartLink:link, .headerLinks a.cartLink:visited {
  margin-left: 5px;
}
.headerLinks a.cartLink span {
  color: #bd2c1d;
}
.footer {
  position: relative;
  margin-bottom: 10px;
  padding: 20px 0 0;
}
.ftrPhonenum {
  display: inline-block;
  padding-top: 0.36em;
  color: #bd2c1d;
  font-family: 'Kameron', serif;
  font-weight: 700;
  font-size: 1.125em;
}
.emailSignup {
  margin: 0 0 15px;
}
.emailSignup .text {
  float: left;
  width: 17em !important;
  margin: 0 5px 0 0;
  padding: 8px 4px !important;
  color: #787878 !important;
  font-family: 'Raleway', sans-serif !important;
  font-size: .813em !important;
}
.advFooter {
  position: relative;
  margin-bottom: 15px;
  padding: 0 0 5px 0;
}
ul.advList {
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.advList a, ul.advList a:link, ul.advList a:visited {
  text-decoration: none;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: .875em;
}
ul.advList .listhdng {
  display: block;
  margin-bottom: 8px;
  text-transform: uppercase;
}
ul.advList .listhdng, ul.advList .listhdng a, ul.advList .listhdng a:link, ul.advList .listhdng a:visited {
  font-weight: bold;
  color: #000;
  font-family: 'Kameron', serif;
}
.footerHeading {
  float: left;
  display: inline;
  margin: 0 .938em 0 0;
  padding-top: .500em;
  font-weight: 700;
  font-size: 1em;
  font-family: 'Kameron', serif;
  text-transform: uppercase;
}
.emailSignup .formee {
  float: left;
  display: inline;
}
.subFooter {
  margin: .125em 0 0 0;
  border-top: 1px dotted #b3b3b3;
}
.copyrightWrpr {
  display: table;
  border-right: 1px dotted #b3b3b3;
}
.badge {
  display: table-cell;
  vertical-align: middle;
  padding: 1.2em 1.875em 0 0;
  border-right: 1px dotted #b3b3b3;
}
.copyright {
  display: table-cell;
  vertical-align: middle;
  padding: 1.875em 1.875em 0;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: .750em;
}
.payments {
  display: table;
  margin-top: .7em;
}
.payments .secure {
  display: table-cell;
  margin-right: 1.250em;
  vertical-align: middle;
}
.payments .supportedPayments {
  display: table-cell;
  vertical-align: middle;
}
.hdng2 {
  margin: 0;
  padding-right: 3px;
  float: left;
  display: block;
  font-size: 1.375em;
  font-family: 'Kameron', serif;
  font-weight: normal;
  color: #fff;
  background: url(/cms/MagazineLine/images/layout/title_right.png) no-repeat 100% 0;
  height: 54px;
  text-align: center;
}
.hdng2 span {
  background: url(/cms/MagazineLine/images/layout/title_left.png) no-repeat 0 0;
  display: block;
  padding: 8px 17px 8px 20px;
  height: 37px;
  min-width: 206px;
}
input.text, textarea.text {
  padding: 6px 4px;
  border: 1px solid #969696;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
.blur {
  color: #ccc;
}
.contentGroupWrap .itemWrapper {
  position: relative;
  overflow: hidden;
  text-align: center;
}
.contentGroupWrap .itemWrapper .itemImage {
  width: 100% !important;
  max-width: 180px !important;
  height: auto !important;
  border: 1px solid #c5c5c5;
  -webkit-box-shadow: 1px 1px 3px 1px #9d9d9d;
  box-shadow: 1px 1px 3px 1px #9d9d9d;
}
.productList {
  margin: 0;
  padding: 0;
}
.productList .itemWrapper {
  position: relative;
  float: left;
  display: inline;
  padding: 5px 10px;
  overflow: hidden;
}
.categories .itemWrapper {
  position: relative;
  float: left;
  display: inline;
  margin-bottom: 10px;
  overflow: hidden;
}
.categories .itemRow {
  margin-bottom: 2.500em;
}
.itemWrapper .itemImage {
  display: block;
  margin: 0 auto 10px auto;
  padding: 0;
}
.productList .itemWrapper .itemImage {
  border: 1px solid #c5c5c5;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(157, 157, 157, .4);
  box-shadow: 0px 0px 3px 1px rgba(157, 157, 157, .4);
}
.textBanners {
  margin: 1.875em 0;
}
.textBanners .last {
  border: 0;
  padding: 0;
}
.floatLeft {
  float: left;
  display: inline;
}
.floatRight {
  float: right;
  display: inline;
}
.dropCart {
  margin: 0 auto;
  position: relative;
  border: 2px solid #000;
  background: #fff;
}
.dropCartHeader {
  padding: 10px;
  font-weight: bold;
  font-size: 1.125em;
  background: #f2f2f2;
  color: #000;
  font-family: 'Kameron', serif;
}
.dropCartHeader .closebtn {
  float: right;
  display: inline;
  margin: 3px 6px 0 0;
  cursor: pointer;
  color: #ff0000;
  font-size: 0.778em;
}
.dropCart .dropCartContent {
  padding: 15px;
}
.recent-cart {
  position: absolute;
  top: -9999em;
  right: 10px;
  width: 320px;
  z-index: 100000;
}
.recent-cart .itemWrapper {
  float: none;
  display: block;
  width: auto;
  height: auto;
  padding: 0;
}
@media only screen and (max-width:29.938em) {
  .emailSignup .text {
    width: 14em !important;
  }
  .ftrPhonenum {
    font-size: 1em;
  }
  .copyrightWrpr {
    padding-bottom: 10px;
    border-right: 0;
    border-bottom: 1px dotted #b3b3b3;
    width: 100%;
  }
  .badge {
    padding: 1.2em .8em 0 0;
  }
  .copyright {
    padding: 1.875em 0 1em .9em;
  }
  .payments .secure {
    padding-right: 20px;
  }
  .supportedPayments img {
    padding: 0 5px 10px 0;
  }
  .btnLarge .btn {
    font-size: 1em;
  }
}
@media only screen and (max-width:40.063em) {
  .accordionFooter;
  .footer ul.advList {
    margin-bottom: 0;
    float: none;
  }
  ul.advList li {
    border-bottom: 1px solid #ccc;
  }
  ul.advList li ul li {
    border: 0;
  }
  ul.advList .listhdng {
    position: relative;
    margin-bottom: -1px;
    padding: 10px 0;
  }
  ul.advList .content {
    display: none;
  }
  ul.advList .listhdng .expandTrigger {
    display: inline-block;
    float: right;
    background: url(/cms/MagazineLine/images/layout/icon_plus.png) no-repeat 0 0;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
  .contentGroupWrap .itemWrapper {
    margin-bottom: 20px;
  }
  .featuredGroup .itemWrapper {
    padding-bottom: 15px;
    border-bottom: 1px dashed #797974;
  }
  .productList .itemWrapper {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #797974;
  }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 799px) {
  .payments .secure {
    display: block;
  }
  .payments .supportedPayments {
    display: block;
  }
}
.iconImage {
  display: inline-block;
  width: 20px;
  height: 18px;
  margin-right: 5px;
  text-align: left;
  vertical-align: middle;
  overflow: hidden;
  background: url(/cms/magazineline/images/layout/icons_default.png) no-repeat 0 0;
}
.clear {
  overflow: hidden;
  clear: both;
  height: 0;
  margin: 0;
  font-size: 1px;
  line-height: 0;
}
.bold {
  font-weight: bold;
}
.center {
  text-align: center;
}
.hawk-searchQuery {
  position: absolute;
  display: none;
  width: 300px;
  margin: 5px 0 0 0;
  background: #fff;
  border: 1px solid #AAAAAA !important;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: 0 0 4px 1px rgba(50,50,50,0.25);
  box-shadow: 0 0 4px 1px rgba(50,50,50,0.25);
  z-index: 999999;
  text-align: left;
}
.clearfix {
  *zoom: 1;
}
